<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/resources/|"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script>

        function  toEmail() {
            var username =  $("#username").val();
            if(username==null || username.trim()==''){
                $("#showInfo").html("<font color='red'>用户名不能为空</font>");
            }else{
                $.ajax({
                    url: "[[${#request.getContextPath()}]]/sso/toGetEmail",
                    type: "POST",
                    data: {"username":username},
                    success: function (data) {
                        if(data.code=='1000'){
                            $("#showInfo").html("<font color='red'>没有该用户</font>");
                        }else{
                            var email=data.msg;
                            $("#showInfo").html("<font color='green'>已将密码修改信息发送至你注册的邮箱"+email+"</font>");
                        }
                    },
                    dataType: "json"
                })
            }
        }

    </script>
</head>
<body>
    <h1>忘记密码？</h1>
    <form th:action="|${#request.getContextPath()}/sso/toUpdatePassword|" method="post">
    用户名<input type="text" id="username" name="username"/><span id="showInfo"></span><br/>
    <input type="button" onclick="toEmail()" th:value="确认"/><br/>
    </form>
</body>
</html>