<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>修改密码</h1>
    <form th:action="|${#request.getContextPath()}/sso/updatePassword|" method="post">
        <input type="hidden" th:value="${token}" name="token"/>
        新密码:<input type="password" name="password"/><br/>
        确认密码:<input type="password" name="rePassword"/><br/>
        <input type="submit" th:value="确认修改"/>
    </form>
</body>
</html>